<article>
  <section>
    <header>
      <h2>Fortnightly</h2>
    </header>
    <ol class="events">
      <li class="gfunc vcard">
          <h3><a class="fn org url" href="#">GFunc</a></h3>
          <p class="who">Functional programmers</p>
          <p class="when">1st and 3rd Wednesday</p>
      </li>
  </ol>
  </section>
</article>
<article>
  <section>
    <header>
      <h2>Monthly</h2>
    </header>
    <ol class="events">
      <% @events.each do |event| %>
        <li class="<%= event.css_class %> vcard">
            <h3><a class="fn org url" href="<%= event.url %>"><%= event.name %></a></h3>
            <p class="who"><%= event.who %></p>
            <p class="when"><%= event.when %></p>
        </li>
      <% end %>
  </ol>
  </section>
</article>
